<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>it</string>
		<string>es</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>me.paolino.Cluster-Headache-Tracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clusterheadachetracker</string>
			</array>
		</dict>
	</array>
	<key>HONEYBADGER_API_KEY</key>
	<string>$(HONEYBADGER_API_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Take photos to attach to your headache logs, like your oxygen setup or symptoms.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneController</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Log attack</string>
			<key>UIApplicationShortcutItemType</key>
			<string>me.paolino.Cluster-Headache-Tracker.quickLog</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>timer</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Current attack</string>
			<key>UIApplicationShortcutItemType</key>
			<string>me.paolino.Cluster-Headache-Tracker.currentAttack</string>
		</dict>
	</array>
</dict>
</plist>
