<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneController</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>HONEYBADGER_API_KEY</key>
	<string>$(HONEYBADGER_API_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is used for barcode and document scanning bridge components.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID can be used by bridge components to protect sensitive screens.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.8.220</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access can be requested by bridge components when a workflow needs it.</string>
	<key>NFCReaderUsageDescription</key>
	<string>NFC access can be used by bridge components to read supported tags.</string>
</dict>
</plist>
